@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

button {
  font-family: inherit;
}

body {
  background-image: url(./background.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr 5vh;
  font-family: "Amatic SC", cursive;
}

body > header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vh;
  border-bottom: 0.25vh solid hsla(0, 0%, 100%, 85%);
  background-color: hsla(0, 0%, 100%, 65%);
  backdrop-filter: blur(0.2vh);
}

@media (max-aspect-ratio: 1/1) {
  body > header {
    justify-content: flex-start;
    font-size: 2vh;
    padding: 0 2vh;
  }
  body > header h1 br {
    display: inline;
  }
}

body.modalVisible > header {
  display: none;
}

body > footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vh;
  border-top: 0.25vh solid hsla(0, 0%, 100%, 85%);
  background-color: hsla(0, 0%, 100%, 65%);
  backdrop-filter: blur(0.2vh);
  font-weight: bold;
}

body > footer > a {
  color: inherit;
  margin-inline: 0.2em;
}

body > footer > a:hover {
  opacity: 0.8;
}

body.modalVisible > footer {
  display: none;
}

h1 {
  text-shadow: 0 0 3px white;
  line-height: 1;
}

h1 br {
  display: none;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5vh;
  padding: 10vh;
}

body.modalVisible main {
  display: none;
}

@media (max-aspect-ratio: 1/1) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2vh;
    padding: 2vh;
  }
}

.dayWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.day {
  border: 0.25vh solid hsla(0, 0%, 100%, 85%);
  background-color: hsla(0, 0%, 100%, 65%);
  backdrop-filter: blur(0.2vh);
  border-radius: 1vh;
  font-family: inherit;
  position: relative;
  overflow: hidden;
  outline: 0;
  color: black;
  width: 100%;
  height: 100%;
}

.day .background {
  position: absolute;
  inset: 0;
  background-color: white;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 1vh;
  border: 0.5vh solid #7ea0ae;
}

.day:not(:disabled) {
  cursor: pointer;
}

.day:disabled {
  opacity: 0.3;
  color: hsla(0, 0%, 0%, 50%);
}

.day:not(:disabled):hover .background,
.day:not(:disabled):focus .background {
  opacity: 0.8;
}

.day .date {
  position: absolute;
  inset: 0;
  font-size: 10vh;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 5px white;
}

.dayWrapper .icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3vh;
  height: 3vh;
  transform: translate(40%, 40%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.dayWrapper .icon img {
  width: 60%;
}

.dayWrapper .opened {
  background-color: hsl(132, 23%, 59%);
  border-color: hsl(132, 23%, 39%);
}

.dayWrapper .lock {
  background-color: hsl(0, 23%, 59%);
  border-color: hsl(0, 23%, 39%);
}

.dayWrapper:not(.opened) .opened.icon {
  display: none;
}
.dayWrapper:not(.locked) .lock.icon {
  display: none;
}

#modal {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr;
  background-color: hsla(0, 0%, 100%, 65%);
  backdrop-filter: blur(0.2vh);
  overflow: hidden;
  overflow-y: auto;
}

#modal:empty {
  width: 0;
  height: 0;
}

#modal > header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vh;
}

@media (max-aspect-ratio: 3/5) {
  #modal header h2 {
    display: none;
  }
}

#modal > .content {
  max-width: 720px;
  width: calc(100% - 5vw);
  margin: 0 auto 5vh;
  font-size: 2vh;
  line-height: 1.5;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

#modal .content h2,
#modal .content h3 {
  display: inline;
  font-family: "Amatic SC", cursive;
  font-size: 5vh;
  margin-bottom: 1em;
}

.content p,
.content pre {
  margin-bottom: 1em;
}

.content code,
.content pre {
  border: 1px solid #7ea0ae;
  padding: 0.2em;
  background-color: white;
}

.content pre {
  white-space: pre-wrap;
  font-size: 80%;
  padding: 0.6em;
}

.content pre code {
  border: 0;
}

@media (max-aspect-ratio: 1/1) {
  #modal .content {
    font-size: 2.5vh;
  }
}

#modal .content h2:after {
  content: " – ";
}

@media (min-aspect-ratio: 3/5) {
  #modal .content h2 {
    display: none;
  }
}

#snow {
  user-select: none;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#snow.hidden {
  display: none;
}

.snowflakeWrapper {
  position: absolute;
  animation: snowingVertical linear infinite;
}

@keyframes snowingVertical {
  from {
    transform: translateY(-0.3vmax);
  }

  to {
    transform: translateY(calc(100vh + 0.3vmax));
  }
}

.snowflake {
  position: absolute;
  animation: snowingHorizontal ease-in-out infinite;
}

.snowflakeFill {
  width: 0.3vmax;
  height: 0.3vmax;
  background-color: white;
  border-radius: 50%;
}

@media (max-aspect-ratio: 1/1) {
  .snowflakeFill {
    width: 0.6vmax;
    height: 0.6vmax;
  }
}

@keyframes snowingHorizontal {
  from {
    transform: translateX(-2.5vh);
  }

  50% {
    transform: translateX(2.5vh);
  }

  to {
    transform: translateX(-2.5vh);
  }
}

#snowToggle {
  cursor: pointer;
  position: absolute;
  top: 2vh;
  right: 2vh;
  height: 6vh;
  padding: 0 3vh;
  font-size: 3vh;
  font-weight: bold;
  border: 3px solid #7ea0ae;
  background-color: hsla(0, 0%, 100%, 0.75);
  border-radius: 1vh;
  transition: background-color 0.5s;
  backdrop-filter: blur(0.2vh);
}

#snowToggle:hover {
  background-color: hsla(0, 0%, 100%, 0.9);
}

#back {
  cursor: pointer;
  position: absolute;
  top: 2vh;
  left: 2vh;
  height: 6vh;
  padding: 0 3vh;
  font-size: 3vh;
  font-weight: bold;
  border: 3px solid #7ea0ae;
  background-color: hsla(0, 0%, 100%, 0.75);
  border-radius: 1vh;
  transition: background-color 0.5s;
  backdrop-filter: blur(0.2vh);
}

#back:hover {
  background-color: hsla(0, 0%, 100%, 0.9);
}

#back.hidden {
  display: none;
}

#bottomGradient {
  position: absolute;
  width: 100%;
  height: 10vh;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 100%, 0) 100%
  );
  z-index: -1;
  display: none;
}

@media (max-aspect-ratio: 1/1) {
  #bottomGradient {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-image: url(./background-dark.jpg);
    background-position: bottom center;
    background-color: black;
  }

  body > header {
    border-bottom: 0.25vh solid hsla(0, 0%, 0%, 85%);
    background-color: hsla(0, 0%, 0%, 65%);
  }

  body > footer {
    border-top: 0.25vh solid hsla(0, 0%, 0%, 85%);
    background-color: hsla(0, 0%, 0%, 65%);
  }

  h1 {
    text-shadow: 0 0 3px black;
    line-height: 1;
  }

  .day {
    border: 0.25vh solid hsla(0, 0%, 0%, 85%);
    background-color: hsla(0, 0%, 0%, 65%);
    color: white;
  }

  .day .background {
    background-color: black;
    border: 0.5vh solid #1c2436;
  }

  .day:disabled {
    color: hsla(0, 0%, 100%, 50%);
  }

  .day .date {
    text-shadow: 0 0 5px black;
  }

  .dayWrapper .opened {
    background-color: hsl(132, 23%, 59%);
    border-color: hsl(132, 23%, 39%);
  }

  .dayWrapper .lock {
    background-color: hsl(0, 23%, 59%);
    border-color: hsl(0, 23%, 39%);
  }

  #modal {
    background-color: hsla(0, 0%, 0%, 65%);
  }

  .snowflake {
    opacity: 0.35;
  }

  .snowflakeFill {
    background-color: white;
  }

  #snowToggle {
    color: white;
    border: 3px solid #1c2436;
    background-color: hsla(0, 0%, 0%, 0.75);
  }

  #snowToggle:hover {
    background-color: hsla(0, 0%, 0%, 0.9);
  }

  #back {
    color: white;
    border: 3px solid #1c2436;
    background-color: hsla(0, 0%, 0%, 0.75);
  }

  #back:hover {
    background-color: hsla(0, 0%, 0%, 0.9);
  }

  #bottomGradient {
    background: linear-gradient(
      0deg,
      hsla(0, 0%, 0%, 1) 0%,
      hsla(0, 0%, 0%, 0) 100%
    );
  }

  .content code,
  .content pre {
    border: 1px solid #1c2436;
    background-color: black;
  }
}
